In [1]:
import pandas as pd
import numpy as np

In [2]:
list_of_names = ['Company X - Order Report','Company X - Pincode Zones','Company X - SKU Master',
                 'Courier Company - Invoice','Courier Company - Rates']
 
dataframes_list = []
 
for i in range(len(list_of_names)):
    temp_df = pd.read_excel(list_of_names[i]+".xlsx")
    dataframes_list.append(temp_df)

In [3]:
CompanyX_Order_Report_df=dataframes_list[0]

In [4]:
CompanyX_Order_Report_df

     ExternOrderNo            SKU  Order Qty
0       2001827036  8904223818706        1.0
1       2001827036  8904223819093        1.0
2       2001827036  8904223819109        1.0
3       2001827036  8904223818430        1.0
4       2001827036  8904223819277        1.0
..             ...            ...        ...
395     2001806229  8904223818942        1.0
396     2001806229  8904223818850        1.0
397     2001806226  8904223818850        2.0
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

[400 rows x 3 columns]

In [5]:
CompanyX_Order_Report_df.nunique()

ExternOrderNo    124
SKU               65
Order Qty          6
dtype: int64

In [6]:
CompanyX_Order_Report_df.isna().sum()

ExternOrderNo    0
SKU              0
Order Qty        0
dtype: int64

In [5]:
CompanyX_Pincode_Zones=dataframes_list[1]

In [6]:
CompanyX_Pincode_Zones

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [32]:
CompanyX_Pincode_Zones.nunique()

Warehouse Pincode      1
Customer Pincode     108
Zone                   3
dtype: int64

In [8]:
CompanyX_Pincode_Zones.isna().sum()

Warehouse Pincode    0
Customer Pincode     0
Zone                 0
dtype: int64

In [7]:
CompanyX_SKU_Master=dataframes_list[2]

In [8]:
CompanyX_SKU_Master

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [12]:
CompanyX_SKU_Master.nunique()

SKU           65
Weight (g)    31
dtype: int64

In [13]:
CompanyX_SKU_Master.isna().sum()

SKU           0
Weight (g)    0
dtype: int64

In [9]:
Courier_Company_Invoice=dataframes_list[3]

In [10]:
Courier_Company_Invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [16]:
Courier_Company_Invoice.nunique()

AWB Code                124
Order ID                124
Charged Weight           54
Warehouse Pincode         1
Customer Pincode        108
Zone                      3
Type of Shipment          2
Billing Amount (Rs.)     20
dtype: int64

In [17]:
Courier_Company_Invoice.isna().sum()

AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
dtype: int64

In [11]:
Courier_Company_Rates=dataframes_list[4]

In [12]:
Courier_Company_Rates

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [15]:
Courier_Company_Rates.columns

Index(['fwd_a_fixed', 'fwd_a_additional', 'fwd_b_fixed', 'fwd_b_additional',
       'fwd_c_fixed', 'fwd_c_additional', 'fwd_d_fixed', 'fwd_d_additional',
       'fwd_e_fixed', 'fwd_e_additional', 'rto_a_fixed', 'rto_a_additional',
       'rto_b_fixed', 'rto_b_additional', 'rto_c_fixed', 'rto_c_additional',
       'rto_d_fixed', 'rto_d_additional', 'rto_e_fixed', 'rto_e_additional'],
      dtype='object')

In [41]:
Courier_Company_Rates.nunique()

fwd_a_fixed         1
fwd_a_additional    1
fwd_b_fixed         1
fwd_b_additional    1
fwd_c_fixed         1
fwd_c_additional    1
fwd_d_fixed         1
fwd_d_additional    1
fwd_e_fixed         1
fwd_e_additional    1
rto_a_fixed         1
rto_a_additional    1
rto_b_fixed         1
rto_b_additional    1
rto_c_fixed         1
rto_c_additional    1
rto_d_fixed         1
rto_d_additional    1
rto_e_fixed         1
rto_e_additional    1
dtype: int64

In [13]:
join1=pd.merge(Courier_Company_Invoice,CompanyX_Order_Report_df,how="inner",left_on="Order ID",right_on="ExternOrderNo")

In [14]:
join1

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645,6.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147,2.0
2,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,2001806273,8904223819017,1.0
3,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,2001806273,8904223818706,1.0
4,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,2001806273,8904223818942,1.0
...,...,...,...,...,...,...,...,...,...,...,...
395,1091121844806,2001811475,0.5,121003,173212,b,Forward charges,33.0,2001811475,8904223819031,1.0
396,1091121846136,2001811305,0.5,121003,302020,d,Forward charges,45.4,2001811305,8904223816214,1.0
397,1091121846136,2001811305,0.5,121003,302020,d,Forward charges,45.4,2001811305,8904223819499,1.0
398,1091121846136,2001811305,0.5,121003,302020,d,Forward charges,45.4,2001811305,8904223819505,1.0
399,1091121846136,2001811305,0.5,121003,302020,d,Forward charges,45.4,2001811305,8904223819512,1.0

In [15]:
join2=pd.merge(join1,CompanyX_SKU_Master,how="inner",left_on="SKU",right_on="SKU")

In [16]:
join2

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,2001806232,8904223818645,6.0,137
1,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,2001806232,8904223819147,2.0,240
2,1091117327312,2001807960,1.00,121003,485001,d,Forward charges,90.2,2001807960,8904223819147,1.0,240
3,1091120014461,2001818390,0.80,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147,1.0,240
4,1091120959225,2001821185,2.10,121003,313001,d,Forward charges,224.6,2001821185,8904223819147,1.0,240
...,...,...,...,...,...,...,...,...,...,...,...,...
396,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,2001827036,GIFTBOX202002,1.0,500
397,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,2001827036,GIFTBOX202002,1.0,500
398,1091117324346,2001807328,2.28,121003,335502,d,Forward charges,224.6,2001807328,8904223818997,1.0,490
399,1091117958163,2001811306,1.10,121003,302017,d,Forward charges,135.0,2001811306,8904223819543,1.0,300
400,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,2001820978,8904223817501,1.0,350

In [17]:
join3=pd.merge(join2,CompanyX_Pincode_Zones,how="inner",left_on="Customer Pincode",right_on="Customer Pincode")

In [18]:
join3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567 entries, 0 to 566
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AWB Code              567 non-null    int64
 1   Order ID              567 non-null    int64
 2   Charged Weight        567 non-null    float64
 3   Warehouse Pincode_x   567 non-null    int64
 4   Customer Pincode      567 non-null    int64
 5   Zone_x                567 non-null    object
 6   Type of Shipment      567 non-null    object
 7   Billing Amount (Rs.)  567 non-null    float64
 8   ExternOrderNo         567 non-null    int64
 9   SKU                   567 non-null    object
 10  Order Qty             567 non-null    float64
 11  Weight (g)            567 non-null    int64
 12  Warehouse Pincode_y   567 non-null    int64
 13  Zone_y                567 non-null    object
dtypes: float64(3), int64(7), object(4)
memory usage: 66.4+ KB

In [19]:
join3.isna().sum()

AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode_x     0
Customer Pincode        0
Zone_x                  0
Type of Shipment        0
Billing Amount (Rs.)    0
ExternOrderNo           0
SKU                     0
Order Qty               0
Weight (g)              0
Warehouse Pincode_y     0
Zone_y                  0
dtype: int64

In [20]:
join3.nunique()

AWB Code                124
Order ID                124
Charged Weight           54
Warehouse Pincode_x       1
Customer Pincode        108
Zone_x                    3
Type of Shipment          2
Billing Amount (Rs.)     20
ExternOrderNo           124
SKU                      65
Order Qty                 6
Weight (g)               31
Warehouse Pincode_y       1
Zone_y                    3
dtype: int64

In [19]:
join3

,AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Warehouse Pincode_y,Zone_y
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,2001806232,8904223818645,6.0,137,121003,d
1,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,2001806232,8904223819147,2.0,240,121003,d
2,1091117327312,2001807960,1.00,121003,485001,d,Forward charges,90.2,2001807960,8904223819147,1.0,240,121003,d
3,1091117327312,2001807960,1.00,121003,485001,d,Forward charges,90.2,2001807960,8904223818850,1.0,240,121003,d
4,1091117327312,2001807960,1.00,121003,485001,d,Forward charges,90.2,2001807960,8904223818669,1.0,240,121003,d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,1091117327474,2001807970,4.13,121003,302019,d,Forward charges,403.8,2001807970,8904223818430,1.0,165,121003,b
563,1091117437864,2001808832,2.47,121003,334001,d,Forward charges,224.6,2001808832,8904223819338,1.0,600,121003,b
564,1091117227116,2001806768,1.02,121003,322201,d,Forward charges,135.0,2001806768,8904223819512,4.0,210,121003,b
565,1091121031745,2001821679,0.20,121003,307026,d,Forward charges,45.4,2001821679,8904223818430,1.0,165,121003,b
566,1091117324346,2001807328,2.28,121003,335502,d,Forward charges,224.6,2001807328,8904223818997,1.0,490,121003,b

In [20]:
final_join=join3[["AWB Code","Order ID","Weight (g)","Charged Weight","Zone_x","Type of Shipment",
                  "Zone_y","Billing Amount (Rs.)"]]

In [23]:
final_join.isna().sum()

AWB Code                0
Order ID                0
Weight (g)              0
Charged Weight          0
Zone_x                  0
Type of Shipment        0
Zone_y                  0
Billing Amount (Rs.)    0
dtype: int64

In [24]:
final_join.nunique()

AWB Code                124
Order ID                124
Weight (g)               31
Charged Weight           54
Zone_x                    3
Type of Shipment          2
Zone_y                    3
Billing Amount (Rs.)     20
dtype: int64

In [ ]:
#df.drop(['A'], axis=1)

In [21]:
final_join.rename(columns={'Charged Weight': 'Total weight as per Courier Company (KG)',
                           'Zone_x': 'Delivery Zone charged by Courier Company',
                           'Zone_y':'Delivery Zone as per X',
                           'Billing Amount (Rs.)':'Charges Billed by Courier Company (Rs.)'},inplace=True)

C:\Users\Shrutika\AppData\Local\Temp\ipykernel_3256\2289245583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_join.rename(columns={'Charged Weight': 'Total weight as per Courier Company (KG)',

In [22]:
final_join

,AWB Code,Order ID,Weight (g),Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Type of Shipment,Delivery Zone as per X,Charges Billed by Courier Company (Rs.)
0,1091117222124,2001806232,137,1.30,d,Forward charges,d,135.0
1,1091117222124,2001806232,240,1.30,d,Forward charges,d,135.0
2,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2
3,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2
4,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2
...,...,...,...,...,...,...,...,...
562,1091117327474,2001807970,165,4.13,d,Forward charges,b,403.8
563,1091117437864,2001808832,600,2.47,d,Forward charges,b,224.6
564,1091117227116,2001806768,210,1.02,d,Forward charges,b,135.0
565,1091121031745,2001821679,165,0.20,d,Forward charges,b,45.4
566,1091117324346,2001807328,490,2.28,d,Forward charges,b,224.6

In [23]:
#weight in kg for x
def total_weight_x(weight):
    return weight/1000

In [38]:
total_weight_x(490)

0.49

In [39]:
#another way by round
def total_weight_x(weight):
    final_weight=weight/1000
    return round(final_weight,2)

In [40]:
total_weight_x(137)

0.14

In [24]:
final_join["Total weight as per X (KG)"]=final_join["Weight (g)"].apply(total_weight_x)

C:\Users\Shrutika\AppData\Local\Temp\ipykernel_3256\1275106014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_join["Total weight as per X (KG)"]=final_join["Weight (g)"].apply(total_weight_x)

In [25]:
final_join

,AWB Code,Order ID,Weight (g),Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Type of Shipment,Delivery Zone as per X,Charges Billed by Courier Company (Rs.),Total weight as per X (KG)
0,1091117222124,2001806232,137,1.30,d,Forward charges,d,135.0,0.137
1,1091117222124,2001806232,240,1.30,d,Forward charges,d,135.0,0.240
2,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2,0.240
3,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2,0.240
4,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2,0.240
...,...,...,...,...,...,...,...,...,...
562,1091117327474,2001807970,165,4.13,d,Forward charges,b,403.8,0.165
563,1091117437864,2001808832,600,2.47,d,Forward charges,b,224.6,0.600
564,1091117227116,2001806768,210,1.02,d,Forward charges,b,135.0,0.210
565,1091121031745,2001821679,165,0.20,d,Forward charges,b,45.4,0.165
566,1091117324346,2001807328,490,2.28,d,Forward charges,b,224.6,0.490

In [26]:
final_join["Total weight as per Courier Company (KG)"].max()

4.13

In [27]:
final_join["Total weight as per X (KG)"].max()

0.6

In [28]:
#slab for x and courier company
def total_slab_weight(weight):
    if(weight>0 and weight<=0.5):
        return 0.5
    elif(weight>0.5 and weight<=1.0):
        return 1
    elif(weight>1 and weight<=1.5):
        return 1.5
    elif(weight>1.5 and weight<=2.0):
        return 2
    elif(weight>2.0 and weight<=2.5):
        return 2.5
    elif(weight>2.0 and weight<=2.5):
        return 2.5
    elif(weight>2.5 and weight<=3.0):
        return 3
    elif(weight>3.0 and weight<=3.5):
        return 3.5
    elif(weight>3.5 and weight<=4.0):
        return 4
    elif(weight>4.0 and weight<=4.5):
        return 4.5
    else:
        return 0

In [44]:
#total_slab_weight(4.13)

4.5

In [29]:
final_join["Weight slab as per X (KG)"]=final_join["Total weight as per X (KG)"].apply(total_slab_weight)

C:\Users\Shrutika\AppData\Local\Temp\ipykernel_3256\848042886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_join["Weight slab as per X (KG)"]=final_join["Total weight as per X (KG)"].apply(total_slab_weight)

In [32]:
final_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567 entries, 0 to 566
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   AWB Code                                  567 non-null    int64
 1   Order ID                                  567 non-null    int64
 2   Weight (g)                                567 non-null    int64
 3   Total weight as per Courier Company (KG)  567 non-null    float64
 4   Delivery Zone charged by Courier Company  567 non-null    object
 5   Type of Shipment                          567 non-null    object
 6   Delivery Zone as per X                    567 non-null    object
 7   Charges Billed by Courier Company (Rs.)   567 non-null    float64
 8   Total weight as per X (KG)                567 non-null    float64
 9   Weight slab as per X (KG)                 567 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 48.7+ KB

In [33]:
final_join

,AWB Code,Order ID,Weight (g),Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Type of Shipment,Delivery Zone as per X,Charges Billed by Courier Company (Rs.),Total weight as per X (KG),Weight slab as per X (KG)
0,1091117222124,2001806232,137,1.30,d,Forward charges,d,135.0,0.137,0.5
1,1091117222124,2001806232,240,1.30,d,Forward charges,d,135.0,0.240,0.5
2,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2,0.240,0.5
3,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2,0.240,0.5
4,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2,0.240,0.5
...,...,...,...,...,...,...,...,...,...,...
562,1091117327474,2001807970,165,4.13,d,Forward charges,b,403.8,0.165,0.5
563,1091117437864,2001808832,600,2.47,d,Forward charges,b,224.6,0.600,1.0
564,1091117227116,2001806768,210,1.02,d,Forward charges,b,135.0,0.210,0.5
565,1091121031745,2001821679,165,0.20,d,Forward charges,b,45.4,0.165,0.5
566,1091117324346,2001807328,490,2.28,d,Forward charges,b,224.6,0.490,0.5

In [30]:
final_join["Weight slab charged by Courier Company (KG)"]=final_join["Total weight as per Courier Company (KG)"].apply(total_slab_weight)

C:\Users\Shrutika\AppData\Local\Temp\ipykernel_3256\1453529827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_join["Weight slab charged by Courier Company (KG)"]=final_join["Total weight as per Courier Company (KG)"].apply(total_slab_weight)

In [31]:
final_join

,AWB Code,Order ID,Weight (g),Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Type of Shipment,Delivery Zone as per X,Charges Billed by Courier Company (Rs.),Total weight as per X (KG),Weight slab as per X (KG),Weight slab charged by Courier Company (KG)
0,1091117222124,2001806232,137,1.30,d,Forward charges,d,135.0,0.137,0.5,1.5
1,1091117222124,2001806232,240,1.30,d,Forward charges,d,135.0,0.240,0.5,1.5
2,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2,0.240,0.5,1.0
3,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2,0.240,0.5,1.0
4,1091117327312,2001807960,240,1.00,d,Forward charges,d,90.2,0.240,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...
562,1091117327474,2001807970,165,4.13,d,Forward charges,b,403.8,0.165,0.5,4.5
563,1091117437864,2001808832,600,2.47,d,Forward charges,b,224.6,0.600,1.0,2.5
564,1091117227116,2001806768,210,1.02,d,Forward charges,b,135.0,0.210,0.5,1.5
565,1091121031745,2001821679,165,0.20,d,Forward charges,b,45.4,0.165,0.5,0.5
566,1091117324346,2001807328,490,2.28,d,Forward charges,b,224.6,0.490,0.5,2.5

In [50]:
Courier_Company_Invoice["Type of Shipment"].unique()

array(['Forward charges', 'Forward and RTO charges'], dtype=object)

In [51]:
CompanyX_Pincode_Zones["Zone"].unique()

array(['d', 'b', 'e'], dtype=object)

In [52]:
Courier_Company_Rates

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [33]:
#real
#import math
def total_slab_weight(slab,Type_of_Shipment,Zone):
    if(slab>0 and slab<=0.5):
        if((Type_of_Shipment=="Forward charges") and (Zone=="d")):
            fwd_d=Courier_Company_Rates["fwd_d_fixed"]
            return fwd_d
        elif((Type_of_Shipment=="Forward charges") and (Zone=="b")):
            fwd_b=Courier_Company_Rates["fwd_b_fixed"]
            return fwd_b
        elif((Type_of_Shipment=="Forward charges") and (Zone=="e")):
            fwd_e=Courier_Company_Rates["fwd_e_fixed"]
            return fwd_e
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="d")):
            fwd_rto_d=Courier_Company_Rates["fwd_d_fixed"]+Courier_Company_Rates["rto_d_fixed"]
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="b")):
            fwd_rto_b=Courier_Company_Rates["fwd_b_fixed"]+Courier_Company_Rates["rto_b_fixed"]
            return fwd_rto_b
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="e")):
            fwd_rto_e=Courier_Company_Rates["fwd_e_fixed"]+Courier_Company_Rates["rto_e_fixed"]
            return fwd_rto_e
        else:
            return 0
    elif(slab>0.5 and slab<=1):
        if((Type_of_Shipment=="Forward charges") and (Zone=="d")):
            fwd_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"])
            return fwd_d
        elif((Type_of_Shipment=="Forward charges") and (Zone=="b")):
            fwd_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"])
            return fwd_b
        elif((Type_of_Shipment=="Forward charges") and (Zone=="e")):
            fwd_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"])
            return fwd_e
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="d")):
            fwd_rto_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"])
            +Courier_Company_Rates["rto_d_fixed"]+(Courier_Company_Rates["rto_d_additional"])
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="b")):
            fwd_rto_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"])
            +Courier_Company_Rates["rto_b_fixed"]+(Courier_Company_Rates["rto_b_additional"])
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="e")):
            fwd_rto_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"])
            +Courier_Company_Rates["rto_e_fixed"]+(Courier_Company_Rates["rto_e_additional"])
            return fwd_rto_e
        else:
            return 0
    elif(slab>1 and slab<=1.5):
        if((Type_of_Shipment=="Forward charges") and (Zone=="d")):
            fwd_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*2)
            return fwd_d
        elif((Type_of_Shipment=="Forward charges") and (Zone=="b")):
            fwd_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*2)
            return fwd_b
        elif((Type_of_Shipment=="Forward charges") and (Zone=="e")):
            fwd_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*2)
            return fwd_e
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="d")):
            fwd_rto_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*2)
            +Courier_Company_Rates["rto_d_fixed"]+(Courier_Company_Rates["rto_d_additional"]*2)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="b")):
            fwd_rto_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*2)
            +Courier_Company_Rates["rto_b_fixed"]+(Courier_Company_Rates["rto_b_additional"]*2)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="e")):
            fwd_rto_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*2)
            +Courier_Company_Rates["rto_e_fixed"]+(Courier_Company_Rates["rto_e_additional"]*2)
            return fwd_rto_e
        else:
            return 0
    elif(slab>1.5 and slab<=2):
        if((Type_of_Shipment=="Forward charges") and (Zone=="d")):
            fwd_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*3)
            return fwd_d
        elif((Type_of_Shipment=="Forward charges") and (Zone=="b")):
            fwd_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*3)
            return fwd_b
        elif((Type_of_Shipment=="Forward charges") and (Zone=="e")):
            fwd_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*3)
            return fwd_e
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="d")):
            fwd_rto_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*3)
            +Courier_Company_Rates["rto_d_fixed"]+(Courier_Company_Rates["rto_d_additional"]*3)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="b")):
            fwd_rto_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*3)
            +Courier_Company_Rates["rto_b_fixed"]+(Courier_Company_Rates["rto_b_additional"]*3)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="e")):
            fwd_rto_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*3)
            +Courier_Company_Rates["rto_e_fixed"]+(Courier_Company_Rates["rto_e_additional"]*3)
            return fwd_rto_e
        else:
            return 0
    elif(slab>2 and slab<=2.5):
        if((Type_of_Shipment=="Forward charges") and (Zone=="d")):
            fwd_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*4)
            return fwd_d
        elif((Type_of_Shipment=="Forward charges") and (Zone=="b")):
            fwd_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*4)
            return fwd_b
        elif((Type_of_Shipment=="Forward charges") and (Zone=="e")):
            fwd_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*4)
            return fwd_e
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="d")):
            fwd_rto_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*4)
            +Courier_Company_Rates["rto_d_fixed"]+(Courier_Company_Rates["rto_d_additional"]*4)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="b")):
            fwd_rto_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*4)
            +Courier_Company_Rates["rto_b_fixed"]+(Courier_Company_Rates["rto_b_additional"]*4)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="e")):
            fwd_rto_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*4)
            +Courier_Company_Rates["rto_e_fixed"]+(Courier_Company_Rates["rto_e_additional"]*4)
            return fwd_rto_e
        else:
            return 0
    elif(slab>2.5 and slab<=3):
        if((Type_of_Shipment=="Forward charges") and (Zone=="d")):
            fwd_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*5)
            return fwd_d
        elif((Type_of_Shipment=="Forward charges") and (Zone=="b")):
            fwd_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*5)
            return fwd_b
        elif((Type_of_Shipment=="Forward charges") and (Zone=="e")):
            fwd_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*5)
            return fwd_e
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="d")):
            fwd_rto_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*5)
            +Courier_Company_Rates["rto_d_fixed"]+(Courier_Company_Rates["rto_d_additional"]*5)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="b")):
            fwd_rto_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*5)
            +Courier_Company_Rates["rto_b_fixed"]+(Courier_Company_Rates["rto_b_additional"]*5)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="e")):
            fwd_rto_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*5)
            +Courier_Company_Rates["rto_e_fixed"]+(Courier_Company_Rates["rto_e_additional"]*5)
            return fwd_rto_e
        else:
            return 0   
    elif(slab>3 and slab<=3.5):
        if((Type_of_Shipment=="Forward charges") and (Zone=="d")):
            fwd_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*6)
            return fwd_d
        elif((Type_of_Shipment=="Forward charges") and (Zone=="b")):
            fwd_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*6)
            return fwd_b
        elif((Type_of_Shipment=="Forward charges") and (Zone=="e")):
            fwd_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*6)
            return fwd_e
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="d")):
            fwd_rto_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*6)
            +Courier_Company_Rates["rto_d_fixed"]+(Courier_Company_Rates["rto_d_additional"]*6)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="b")):
            fwd_rto_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*6)
            +Courier_Company_Rates["rto_b_fixed"]+(Courier_Company_Rates["rto_b_additional"]*6)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="e")):
            fwd_rto_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*6)
            +Courier_Company_Rates["rto_e_fixed"]+(Courier_Company_Rates["rto_e_additional"]*6)
            return fwd_rto_e
        else:
            return 0 
    elif(slab>3.5 and slab<=4):
        if((Type_of_Shipment=="Forward charges") and (Zone=="d")):
            fwd_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*7)
            return fwd_d
        elif((Type_of_Shipment=="Forward charges") and (Zone=="b")):
            fwd_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*7)
            return fwd_b
        elif((Type_of_Shipment=="Forward charges") and (Zone=="e")):
            fwd_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*7)
            return fwd_e
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="d")):
            fwd_rto_d=Courier_Company_Rates["fwd_d_fixed"]+(Courier_Company_Rates["fwd_d_additional"]*7)
            +Courier_Company_Rates["rto_d_fixed"]+(Courier_Company_Rates["rto_d_additional"]*7)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="b")):
            fwd_rto_b=Courier_Company_Rates["fwd_b_fixed"]+(Courier_Company_Rates["fwd_b_additional"]*7)
            +Courier_Company_Rates["rto_b_fixed"]+(Courier_Company_Rates["rto_b_additional"]*7)
            return fwd_rto_d
        elif((Type_of_Shipment=="Forward and RTO charges") and (Zone=="e")):
            fwd_rto_e=Courier_Company_Rates["fwd_e_fixed"]+(Courier_Company_Rates["fwd_e_additional"]*7)
            +Courier_Company_Rates["rto_e_fixed"]+(Courier_Company_Rates["rto_e_additional"]*7)
            return fwd_rto_e
        else:
            return 0

In [34]:
final_join["Expected Charge as per X (Rs.)"] = final_join.apply(
    lambda x:total_slab_weight(x["Total weight as per X (KG)"], x["Type of Shipment"],x["Delivery Zone as per X"]), axis=1)

C:\Users\Shrutika\AppData\Local\Temp\ipykernel_3256\3538485824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_join["Expected Charge as per X (Rs.)"] = final_join.apply(

In [35]:
final_join=final_join[["AWB Code","Order ID","Weight (g)","Total weight as per X (KG)",
                       "Weight slab as per X (KG)","Total weight as per Courier Company (KG)",
                       "Weight slab charged by Courier Company (KG)","Type of Shipment","Delivery Zone as per X",
                       "Delivery Zone charged by Courier Company","Expected Charge as per X (Rs.)","Charges Billed by Courier Company (Rs.)"]]

In [36]:
final_join

,AWB Code,Order ID,Weight (g),Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Type of Shipment,Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.)
0,1091117222124,2001806232,137,0.137,0.5,1.30,1.5,Forward charges,d,d,45.4,135.0
1,1091117222124,2001806232,240,0.240,0.5,1.30,1.5,Forward charges,d,d,45.4,135.0
2,1091117327312,2001807960,240,0.240,0.5,1.00,1.0,Forward charges,d,d,45.4,90.2
3,1091117327312,2001807960,240,0.240,0.5,1.00,1.0,Forward charges,d,d,45.4,90.2
4,1091117327312,2001807960,240,0.240,0.5,1.00,1.0,Forward charges,d,d,45.4,90.2
...,...,...,...,...,...,...,...,...,...,...,...,...
562,1091117327474,2001807970,165,0.165,0.5,4.13,4.5,Forward charges,b,d,33.0,403.8
563,1091117437864,2001808832,600,0.600,1.0,2.47,2.5,Forward charges,b,d,61.3,224.6
564,1091117227116,2001806768,210,0.210,0.5,1.02,1.5,Forward charges,b,d,33.0,135.0
565,1091121031745,2001821679,165,0.165,0.5,0.20,0.5,Forward charges,b,d,33.0,45.4
566,1091117324346,2001807328,490,0.490,0.5,2.28,2.5,Forward charges,b,d,33.0,224.6

In [37]:
def difference(x_comp,courier_comp):
    return x_comp-courier_comp

In [38]:
final_join["Difference Between Expected Charges and Billed Charges (Rs.)"] = final_join.apply(
    lambda x:difference(x["Expected Charge as per X (Rs.)"],x["Charges Billed by Courier Company (Rs.)"]), axis=1)

C:\Users\Shrutika\AppData\Local\Temp\ipykernel_3256\3508089529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_join["Difference Between Expected Charges and Billed Charges (Rs.)"] = final_join.apply(

In [39]:
final_join

,AWB Code,Order ID,Weight (g),Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Type of Shipment,Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,1091117222124,2001806232,137,0.137,0.5,1.30,1.5,Forward charges,d,d,45.4,135.0,-89.6
1,1091117222124,2001806232,240,0.240,0.5,1.30,1.5,Forward charges,d,d,45.4,135.0,-89.6
2,1091117327312,2001807960,240,0.240,0.5,1.00,1.0,Forward charges,d,d,45.4,90.2,-44.8
3,1091117327312,2001807960,240,0.240,0.5,1.00,1.0,Forward charges,d,d,45.4,90.2,-44.8
4,1091117327312,2001807960,240,0.240,0.5,1.00,1.0,Forward charges,d,d,45.4,90.2,-44.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,1091117327474,2001807970,165,0.165,0.5,4.13,4.5,Forward charges,b,d,33.0,403.8,-370.8
563,1091117437864,2001808832,600,0.600,1.0,2.47,2.5,Forward charges,b,d,61.3,224.6,-163.3
564,1091117227116,2001806768,210,0.210,0.5,1.02,1.5,Forward charges,b,d,33.0,135.0,-102.0
565,1091121031745,2001821679,165,0.165,0.5,0.20,0.5,Forward charges,b,d,33.0,45.4,-12.4
566,1091117324346,2001807328,490,0.490,0.5,2.28,2.5,Forward charges,b,d,33.0,224.6,-191.6

In [134]:
final_join.to_excel("order_level.xlsx")

In [59]:
summary_table1=pd.DataFrame(index=["Total orders where X has been correctly charged",
                                   "Total Orders where X has been overcharged","Total Orders where X has been undercharged"], 
                            columns = ["Count","Amount (Rs.)"])

In [60]:
summary_table1

                                                Count Amount (Rs.)
Total orders where X has been correctly charged   NaN          NaN
Total Orders where X has been overcharged         NaN          NaN
Total Orders where X has been undercharged        NaN          NaN

In [61]:
summary_table1["Amount (Rs.)"].loc["Total Orders where X has been overcharged"]=final_join["Difference Between Expected Charges and Billed Charges (Rs.)"][(final_join["Difference Between Expected Charges and Billed Charges (Rs.)"]<0)].sum()

In [62]:
summary_table1["Amount (Rs.)"].loc["Total Orders where X has been undercharged"]=final_join["Difference Between Expected Charges and Billed Charges (Rs.)"][(final_join["Difference Between Expected Charges and Billed Charges (Rs.)"]>0)].sum()

In [63]:
summary_table1["Amount (Rs.)"].loc["Total orders where X has been correctly charged"]=final_join["Charges Billed by Courier Company (Rs.)"][(final_join["Difference Between Expected Charges and Billed Charges (Rs.)"]==0)].sum()

In [64]:
summary_table1["Count"].loc["Total Orders where X has been overcharged"]=final_join["Difference Between Expected Charges and Billed Charges (Rs.)"][(final_join["Difference Between Expected Charges and Billed Charges (Rs.)"]<0)].count()

In [65]:
summary_table1["Count"].loc["Total Orders where X has been undercharged"]=final_join["Difference Between Expected Charges and Billed Charges (Rs.)"][(final_join["Difference Between Expected Charges and Billed Charges (Rs.)"]>0)].count()

In [66]:
summary_table1["Count"].loc["Total orders where X has been correctly charged"]=final_join["Difference Between Expected Charges and Billed Charges (Rs.)"][(final_join["Difference Between Expected Charges and Billed Charges (Rs.)"]==0)].count()

In [67]:
summary_table1

                                                Count Amount (Rs.)
Total orders where X has been correctly charged    15        606.6
Total Orders where X has been overcharged         539     -45445.3
Total Orders where X has been undercharged         13        259.6

In [68]:
summary_table1.to_excel("summary1.xlsx")